@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);

body {
    background-color: #242424;
    font-family: 'Pt Sans', sans-serif;
    width: 960px;
    margin: 0 auto;
    color: #FDDB62;
    background-image: url('../imgs/background.png');
}

h2.title {
    margin-bottom: 5px;
    border-bottom: 1px solid #F57343;
}

#graphWrapper {
    position: relative;
    float: left;
    width: 760px;
    height: 500px;
    margin: 0 auto;
    background-color: rgba(48, 48, 48, 0.45); /* <=> #303030 */
    //background-image: url('../imgs/background.png');
    background-image: -webkit-gradient(0deg, #fff, #000);
}

#graphWrapper #scale {

}

.ppButton {
    position: absolute;
    bottom: 1px;
    right: 0px;
}

#legend {
    float: left;
    width: 192px;
    padding-left: 5px;
    height: 505px;
//    background: -webkit-linear-gradient( 0deg, #242424, #303030 3%, #474747 85%, #242424 90%);
//    background: -webkit-linear-gradient( 0deg, #242424, #303030 3%, #242424 95%);
}

.legend-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.d3-link {
    stroke: #ccc;
    stroke-opacity: .6;
}

.circle {
    background-color: blue;
}

.link {
    stroke: #ccc;
}

.fully_visible {
    stroke: none;
    fill: #F57343;
}

.nodetext {
    /* fill: #F57343; */
    fill: #FDDB62;
}
