#graphWrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
}

#graphWrapper #sigmaCanvas {
    height: 400px;
    width: 940px;
    background-color: #333;
}

#graphWrapper #scale {

}

.d3-link {
    stroke: #ccc;
    stroke-opacity: .6;
}

.circle {
    color: blue;
    background-color: blue;
}

.link {
    stroke: #ccc;
}

.fully_visible {
    stroke: black;
}
